.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #151328;
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.header__inner-start {
}

.header__inner-end {
}

@media (max-width: 1250px) {
    .header__inner {
        width: 100%;
    }
    .header__inner-end {
        margin-right: 30px;
    }
    .header__inner-start {
        margin-left: 30px;
    }
}
